/* reset rules */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navigation bar */

nav{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80px;
    
    background-color:#ADD8E6;
}

nav .menù{
    padding: 15px;
    
    flex-direction: row;
    
    background-color: #DAA520;
    border: 2px dashed black;
}

nav .menù:first-child, nav .menù:last-child{
    width: 250px;
}

nav .menù:last-child{
    text-align: right;
}

nav .menù:nth-child(2){
    width: 750px;
    min-width: 290px;

    text-align: center;
}

/* main of the page */

main div{
    display: flex;
}

main div:first-child{
    justify-content: center;
    align-items: center;

    height: 520px;

    background-color: #00008B;

}

main div .rectangle{
    height: 410px;
    width: 950px;

    background-color: #EE82EE;
    border: 2px black dashed;
}

/* div centrali */

main .container{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 625px;

    background-color:#FFFFFF;
}

main .container:nth-child(3){
    background-color: #D3D3D3;
    
}

main .container .img, main .container .text{
    height: 520px;

    border: 2px black dashed;
}

main .container .img{
    width: 750px;
    max-width: 750px;

    background-color: #1E90FF;
}

main .container .text{
    width: 500px;

    background-color: #FFC0CB;
}

main .container:nth-child(3) .text{
    order: -1;
}

/* div con il rettangolo grande */

main .big-rectangle{
    justify-content: center;
    align-items: center;

    height: 1042px;

    background-color: #D3D3D3;
}

main .big-rectangle .green-rectangle{
    display: flex;
    justify-content: center;

    height: 930px;
    width: 1250px;

    background-color:#228B22 ;
    border: 2px black dashed;
}

/* griglia per informazioni */

main .grid{
    display: flex;
    justify-content: center;

    background-color:#23272A ;
    border-bottom:  2px white solid;
}

main .grid .box{
    display: flex;

    margin-top: 10px;
    margin-bottom: 40px;
}

main .grid .box .social{
    width: 375px;
    height: 520px;

    background-color: #F08080;
    border: 2px black dashed;
}

main .grid .box .information{
    width: 220px;
    height: 520px;

    background-color:#20B2AA ;
    border: 2px white dashed;
}

/* footer della pagina */

footer{
    display: flex;
    justify-content: center;
    align-content: flex-end;

    background-color:#23272A;
}

footer .foot-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1250px;
    height: 80px;
    margin-top: 30px;

    background-color:#7FFFD4 ;
}

footer .foot-container .foot-link{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 35px;
    width: 70px;
    padding: 5px;

    background-color: #FFB6C1;
    border: 2px black dashed;
}